.shooping-container {
	display: grid;
	grid-template-columns: 1fr;
	max-width: 1000px;
	margin: 0 auto;
}

.cart-container,
.checkout,
.modal {
	background: var(--terciary-bg-color);
	max-width: 400px;
	min-width: 290px;
	margin: 0 auto;
}

.checkout {
	height: fit-content;
}

.cart-container {
	position: relative;

	p {
		width: fit-content;
	}
}

.book-data-headers {
	display: grid;
	grid-template-columns: 2fr 1fr 0.5fr;

	position: relative;
}

.column {
	padding: 20px 0;
}

.product-cover {
	min-width: 70px;
	max-width: 70px;
	height: 100px;
	background-color: var(--neutral-text-color);
}

.product {
	position: relative;
	display: grid;
	grid-template-columns: 2fr 1fr 0.5fr;

	&::before {
		content: '';
		height: 1px;
		position: absolute;
		background-color: var(--border-color);
		width: 100%;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.checkout-data {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	position: relative;

	&::before {
		content: '';
		height: 1px;
		position: absolute;
		background-color: var(--border-color);
		width: 92%;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

/* ! terminar el modal que da los links para los libros. */

.modal {
	display: initial;
	height: fit-content;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 500ms ease-out;
	z-index: 2;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
	z-index: 1;
	transition: opacity 500ms ease-out;
	opacity: 1;
}

.hidden {
	opacity: 0;
	display: none;
}

.links-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.link {
	color: white;
	display: inline-block;
	text-decoration-color: var(--border-color);
	transition: transform 250ms, text-decoration 250ms;
}

.link:hover {
	transform: translateY(-3px);
}

@media screen and (min-width: 768px) {
	.shooping-container {
		grid-template-columns: 2fr 1fr;
	}
}

@media screen and (min-width: 900px) {
	.cart-container,
	.checkout {
		margin: 0;
	}
	.cart-container {
		max-width: none;
		width: 100%;
	}
}
