.dropdown-menu {
	background-color: var(--primary-bg-color);
	--bs-body-color: #fff;
}

.dropdown-item {
	--bs-dropdown-link-hover-color: #000;
}

.card {
	max-width: 250px;
	background-color: var(--primary-bg-color);
}

.card img {
	border-radius: 1rem 1rem 0 0;
}

.h6 {
	color: var(--neutral-text-color);
}

.price {
	color: #99d98c;
}

.grid-container {
	display: grid;
	gap: 1rem;
	justify-content: center;
	max-width: 350px;
}

.review {
	max-height: 250px;
}

.review.big {
	background-color: var(--terciary-bg-color);
}

.review.small {
	background-color: #38293d;
}

.profile {
	max-width: 50px;
}

@media screen and (min-width: 768px) {
	.card {
		max-width: 450px;
	}

	.card img {
		border-radius: 1rem 0 0 1rem;
	}

	.grid-container {
		max-width: 725px;
		grid-template-columns: repeat(3, 1fr);
	}

	.gero {
		grid-column: 1 / 3;
	}

	.erik {
		grid-column: 2 / 4;
	}
}
