.loader {
	width: 225px;
	height: 225px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-top: 35px;
}

.earth {
	background-image: url('./assets/bg/earth-and-trail.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	width: 100%;
	height: 100%;
	z-index: 4;
}

.moon {
	width: 73%;
	height: 73%;
	z-index: 4;
	background-color: transparent;
	position: absolute;
	-webkit-animation: Rotation 5s linear infinite;
	animation: Rotation 5s linear infinite;

	&::before {
		content: '';
		display: inline-block;
		width: 20%;
		height: 20%;
		background-image: url('./assets/icons/moon-only.svg');
		background-repeat: no-repeat;
		position: absolute;
		background-size: contain;
	}
}

#current-topic {
	min-height: 35px;
}

.dropdown-menu {
	background-color: var(--primary-bg-color);
	--bs-body-color: #fff;
}

.dropdown-item {
	--bs-dropdown-link-hover-color: #000;
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: var(--bs-dropdown-link-color);
	--bs-dropdown-link-hover-bg: #transparent;
}

.drop-btn:hover,
.drop-btn:focus {
	transform: translateY(-3px);
	--bs-border-width: 3px;
}

.card {
	max-width: 250px;
	background-color: var(--primary-bg-color);
}

.card img {
	border-radius: 1rem 1rem 0 0;
	width: 100%;
	height: 325px;
}

.h6 {
	color: var(--neutral-text-color);
}

.grid-container {
	display: grid;
	gap: 1rem;
	justify-content: center;
	max-width: 350px;
}

.review {
	max-height: 250px;
}

.review.big {
	background-color: var(--terciary-bg-color);
}

.review.small {
	background-color: #38293d;
}

.profile {
	max-width: 50px;
}

@keyframes Rotation {
	from {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@media screen and (min-width: 768px) {
	.card {
		max-width: 450px;
		min-width: 450px;
		height: 225px;
	}

	.card img {
		border-radius: 1rem 0 0 1rem;
		max-height: 225px;
	}

	.grid-container {
		max-width: 725px;
		grid-template-columns: repeat(3, 1fr);
	}

	.gero {
		grid-column: 1 / 3;
	}

	.erik {
		grid-column: 2 / 4;
	}
}
